.backhome{
  display: flex;
  flex-direction: column;
  background-image: url('/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.logofrp{
  display: flex;
  margin-left: 175px;
  width: 364px;
  height: 271px;
  margin-top: 50px;
}
