.backhome{
  display: flex;
  flex-direction: column;
  background-image: url('/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.logofrp{
  display: flex;
  margin-left: 175px;
  width: 364px;
  height: 271px;
  margin-top: 50px;
}

/* input */

.backInput input{
  margin-left: 176px;
  margin-top: 10px;
  height: 41px;
  width: 354px;
  border-radius: 5px;
  border-color: white;
  border: none;
}

.backInput input::placeholder {
  color: #cccccc;
  font-size: 14px;
  padding-left: 10px;
  width: 65px;
  height: 17px;
  font-weight: 400;
}

// PERSONAGENS PAGE