
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal img {
    width: 500px;
    background-color: #fff;
    max-width: 90%;
    max-height: 80vh; 
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
  }
  
  .close-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .close-button:hover {
    background-color: #0056b3;
  }

  
  